@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}

:root {
    --bg-color: rgb(9, 9, 9);
    --text-color: #fff;
    --snd-bf-color:#262B40;
    --main-color:#19d2f3;
}
.day-theme{
    --bg-color: rgb(241, 231, 231);
    --text-color: black;
    --snd-bf-color:#50566f;
    --main-color:#1dbbd6;

}
#icon{
    width: 30px;
    cursor: pointer;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 105%;
    padding: 1.3rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo {
    font-size: 5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
    margin-left: -3rem;
}
.navbar{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navbar a {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.5s ease;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 2px 5px;
    margin: 20px;
}

.navbar a:hover{
    color: var(--bg-color);
    background-color: var(--main-color);
    transform: scale(1.1);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    cursor: default;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    cursor: default;
}
.home-content p{
    font-size: 1.4rem;
    cursor: default;
}

.social-media {
    margin-top: 2rem;
}

.social-media a {
    margin-right: 1rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    margin-top: 2rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    background: #19d2f3;
    transition: 0.6s ease;
}
.home-img img{
    width: 24vw;
    animation: floatImage 4s ease-in-out infinite;
}
span{
    color: var(--main-color);
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.6rem 3rem 0;
    transition: 0.5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bf-color);
}
.btn:hover{
    transform: scale(1.06);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
    padding: 6rem 5%;
}
.about-img img{
    width: 55vh;
    margin-top: 20vh;
}
.heading{
    text-align: center;
    font-size: 4rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.3;
    margin-left: 16px;

}
.about-content h3{
    font-size: 2.6rem;
    margin: 1rem;
    cursor: default;
    
}
.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
    cursor: default;
}
.services{
    padding: 4rem 3% ;
}
.services h2{
    cursor: default;
    margin-left: -983px;
    margin-top: 12rem;
    margin-bottom: 4rem;
}
.services-contents {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-box {
    width: 30%; 
    padding: 2rem;
    text-align: center;
    background-color: var(--bg-color); 
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); 
    transition: 0.5s ease;
    border: solid var(--main-color)       ;
}
.services-box:hover{
    transform: scale(1.2);
}
::placeholder{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.services-box h3 {
    margin-bottom: 1rem;
    cursor: default;
}

.services-box p {
    margin-bottom: 2rem;
    cursor: default;
}

.services-box .btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: #19d2f3;
    color: var(--bg-color);
    border: none;
    border-radius: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition:0.5s ease;
}

.services-box .btn:hover {
    background-color: #15a8cc;
    transform: scale(1.1);
}
.heading{
    left: 0;
    cursor: default;
}
.services-box i{
    font-size: 5.5rem;
}
.services-box h3{
    font-size: 2rem;
    color: #19d2f3;
    cursor: default;
}
.services-box p{
    font-size: 1.2rem;
}
.services{
    margin-top: 170px;
}
.about-content{
    margin-top: 100px;
}
.portfolio{
    background: var(--bg-color);
    padding: 4rem 6%;
}
.portfolio h3{
    margin-bottom: 4.5rem;
    margin-top: 10rem;
    margin-left: -983px;
    cursor: default;
}
.portfolio-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
    cursor: default;
}
.portfolio-cont .portfolio-box{
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 2.5rem ;
    cursor: default;
}
.portfolio-box img{
    width: 100%;
    opacity: 0.7;
    transition: .5s ease;
    height: auto;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.portfolio-box .portfolio-layers{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    transition: .5s ease;
    transform: translateY(100%);
    padding: 0 4rem;
    background: linear-gradient(rgba(0,0,0,0.1),var(--main-color));
}
.portfolio-box:hover .portfolio-layers{
    transform: translateY(0);
}
.portfolio-layers h2{
    font-size: 3rem;
}
.portfolio-layers p{
    font-size: 1.7rem;
    max-width: .3rem 0 1rem;
}
.portfolio-layers a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--bg-color);
    border-radius: 100%;
}
.portfolio-layers a i{
    font-size: 20rem;
    color: var(--snd-bf-color);
    size: 2rem;
}
.portfolio-layers i{
    font-size: 1.6rem;
}
.contact h3{
    margin-top: 10rem;
    margin-bottom: 3.4rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-box{
    color: white;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--snd-bf-color);
    border-radius: .9rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--snd-bf-color);
}
.footer-text{
    font-size: 1.6rem;
}
.footer-icon{
    font-size: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);
    border-radius: 100%;
    padding: .8rem 1rem;   
    transition: .5s ease;
    color: var(--snd-bf-color);
}
.footer-icon a i{
    color: var(--snd-bf-color);
}
.footer-icon:hover{
    transform: scale(1.1);
}






